* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
html, body {
    overflow-x: hidden;
}
/* navbar section */
.navbar {
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    padding: 0 20px;
}

.navbar .nav {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.nav .left {
    display: flex;
    align-items: center;
}

.nav .left .logo {
    display: block;
    height: 49px;
    margin-right: 16px;
    transition: transform 0.3s cubic-bezier(0.075, 0.19, 0.165, 1);
}

.left .logo:hover {
    transform: scale(1.1);
}

.navbar .location-div {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 30px;
    height: 30px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
    font-size: 14px;
}

.location-div .other {
    font-weight: bolder;
    color: #3d4152;
    float: left;
    padding-bottom: 2px;
    border-bottom: 2px solid #3d4152;
}

.location-div .other:hover {
    color: #fc8019;
    border-bottom: 2px solid #fc8019;
}

.location-div .location {
    display: block;
    font-weight: 300;
    padding-left: 5px;
    margin-left: 15px;
    color: #686b78;
}

.location-div .arrow-down {
    position: absolute;
    top: 50%;
    right: -6%;
    transform: translateY(-50%);
    font-size: 13px;
    color: #fc8019;
    font-weight: 700;
}

.location-div .right {
    position: relative;
}

.right .items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right .items li {
    list-style-type: none;
    margin-right: 36px;
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
}

.items .nav-item {
    display: flex;
    position: relative;
    height: 80px;
    align-items: center;
    padding-left: 28px;
    cursor: pointer;
}

.items .nav-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3d4152;
    font-size: 16px;
}

.items .nav-item a:hover {
    color: #fc8019;
    font-weight: 400;
}

.nav-item a span {
    margin-left: 8px;
}

/* Content section */
.restaurants .container {
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-top: 42px;
    top: 80px;
    background: white;
}

.container .item-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-bar .number {
    font-weight: 600;
    font-size: 28px;
    color: #3d4152;
    margin-top: -3px;
}

.item-bar::after {
    color: #3d4152;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 81px;
    height: 1px;
    background: #e9e9eb;
}

.item-bar .filters {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filters div {
    font-size: 16px;
    color: #686b78;
    font-weight: 300;
    cursor: pointer;
    margin-left: 35px;
}

.filters div:hover {
    border-bottom: 2px solid #686b78;
    padding-bottom: 3px;
}

.restaurant-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-bottom: 80px;
    padding-top: 39px;
    margin-top: 25px;
}

.restaurant-list .place-link {
    background: #fff;
    display: block;
    text-decoration: none;
    color: inherit;

}

.restaurant-list .list-item {
    padding: 25px 25px 57px;
    border: 1px solid #fff;
    contain: content;
}

.restaurant-list .list-item:hover {
    border: 1px solid #d3d5de;
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    transition: all 0.3s ease;
}

.item-content {
    width: 254px;
    position: relative;
}

.status {
    margin-bottom: 12px;
}

.top-img {
    background: #f5f5f5;
    width: 100%;
    height: 100%;
}

.top-img img {
    display: block;
    width: 100%;
    height: 280px;
    object-fit: cover;
    opacity: 1;
}

.status {
    position: absolute;
    left: -8px;
    top: 0px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 5px 9px 4px;
    max-width: 50%;
}

.status::before {
    position: absolute;
    border-width: 9px 0px 0px 9px;
    bottom: -9px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: inherit;
    left: 0;
}
.place{
    position: relative;
    margin-bottom: 20px;
}
.place-name {
    margin-top: 13px;
}

.place-name .name {
    font-size: 13px;
    word-break: break-word;
    font-weight: 600;
}

.place-name .food-items {
    font-size: 12px;
    color: #686b78;
    margin-top: 4px;
    height: 24px;
    padding-bottom: 1px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 12px;
    color: #535c68;
}

.info .rating {
    display: flex;
    align-items: center;
    background: #fc8019;
    color: #fff;
    padding: 2px 6px;
    gap: 4px;
    font-weight: 500;
}

.icon-star {
    font-size: 10px;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.offer {
    border-top: 1px solid #d3d5de;
    margin-top: 12px;
    padding-top: 12px;
    font-size: 12px;
    color: #8a8d98;
    font-weight: 600;
    display: flex;
}

.offer .icon-offer-filled {
    font-size: 14px;
    width: 20px;
    margin-right: 4px;
    color: #fc8019;
}

.offer .offer-text {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #fc8019;
}

.place:hover .quick-view {
    visibility: visible !important;
}

.quick-view {
    color: #686b78 font-size: 13px;
    visibility: hidden;
    border-top: 1px solid #d3d5de;
    margin-top: 14px;
    padding-top: 14px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 14px;
}

.view-btn {
    color: #5d8ed5;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

/* Fotter section */
.footer {
    padding: 0 20px;
    z-index: 10;
    background: #000;
    min-height: 298px;
    width: 100%;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 76px 0;
}

.points {
    color: #808080;
    font-size: 15px;
    font-weight: 600;
    width: 300px;
    margin: 26px 0 10px 15px;

}

.footer-li {
    padding: 20px 10px 2px 0px;
}

.points ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer-li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.points img {
    padding: 10px;
    margin: 30px 0px 10px 57px;
    border-radius: 10px;
}
